In [ ]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,precision_recall_fscore_support

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IBM AI training/Assingment/files/news_classification.csv')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422419 entries, 0 to 422418
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ID         422419 non-null  int64
 1   TITLE      422419 non-null  object
 2   URL        422419 non-null  object
 3   PUBLISHER  422417 non-null  object
 4   CATEGORY   422419 non-null  object
 5   STORY      422419 non-null  object
 6   HOSTNAME   422419 non-null  object
 7   TIMESTAMP  422419 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.8+ MB
None

In [ ]:
df['CATEGORY'].value_counts()

e    152469
b    115967
t    108344
m     45639
Name: CATEGORY, dtype: int64

In [ ]:
df=df.drop(columns=['ID','URL','PUBLISHER','STORY','HOSTNAME','TIMESTAMP'])

In [ ]:
df_e=df.loc[df['CATEGORY']=='e']
df_e=df_e.iloc[0:3000,:]
df_b=df.loc[df['CATEGORY']=='b']
df_b=df_b.iloc[0:3000,:]
df_t=df.loc[df['CATEGORY']=='t']
df_t=df_t.iloc[0:3000,:]
df_m=df.loc[df['CATEGORY']=='m']
df_m=df_m.iloc[0:3000,:]

In [ ]:
data=[df_e,df_b,df_t,df_m]
df=pd.concat(data)

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df['CATEGORY']=df['CATEGORY'].map({
    'e':0,
    'b':1,
    't':2,
    'm':3
})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     12000 non-null  object
 1   CATEGORY  12000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

In [ ]:
count=CountVectorizer()
bag_of_words = count.fit_transform(df['TITLE'])
#x=bag_of_words.toarray()
x=np.array(bag_of_words)
y=df['CATEGORY']

In [ ]:
x

array(<12000x9314 sparse matrix of type '<class 'numpy.int64'>'
	with 105808 stored elements in Compressed Sparse Row format>,
      dtype=object)

In [ ]:
tfidf=TfidfVectorizer()
bag_of_words =tfidf.fit_transform(df['TITLE'])
x= bag_of_words.toarray()
y=df['CATEGORY']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
clf = MultinomialNB()
model = clf.fit(x_train,y_train)

In [ ]:
predictions=model.predict(x_test)
accuracy_score(y_test,predictions)

0.9683333333333334

In [ ]:
confusion_matrix(y_test,predictions)

array([[570,   0,   6,   3],
       [  3, 582,  13,   6],
       [ 10,  11, 559,   3],
       [  4,   9,   8, 613]])

In [ ]:
context=['Entertainment','Bussiness','Science and Technology','Health']

In [ ]:
#test
text=[str(input())]
words = count.transform(text)
test=words.toarray()

Stocks in news: Emami, Tata Motors, HDFC Bank, Nalco and more

In [ ]:
context[model.predict(test)[0]]

'Bussiness'